<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://unpkg.com/@@picocss/pico@@latest/css/pico.classless.min.css">
</head>
<body style="padding: 1rem;">
    <nav>
        @if (User.Identity!.IsAuthenticated)
        {
            <a asp-controller="Member" asp-action="Members">Members</a>
            @if (User.IsInRole("Administrators")){<a asp-controller="Member" asp-action="Create">Add new member</a>}
            <a asp-controller="Account" asp-action="Logout">Logout</a>
        } else
        {
            <a asp-controller="Account" asp-action="Register">Register</a>
            <a asp-controller="Account" asp-action="Login">Login</a>
        }        
    </nav>
    <br />
    <div>
        @RenderBody()
    </div>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.7.1.min.js"></script>
    @RenderSection("Scripts", false)
</body>
</html>